<header class="navbar">
  <div class="logo-area">
    <img src="assets/cs-logo.png" class="logo-img" />
    <span class="logo-text">CrimeShark</span>
  </div>

  <div class="nav-links">
    <a routerLink="/citizen" routerLinkActive="active">Dashboard</a>
    <a routerLink="/citizen/live-map" routerLinkActive="active">Hotzones</a>
    <a routerLink="/citizen/safety-tips" routerLinkActive="active">Safety Tips</a>
    <a routerLink="/citizen/auth" routerLinkActive="active">Login/Sign up</a>
  </div>
</header>

