<div class="navbar">

  <!-- Logo -->
  <div class="logo">
    <img src="assets/cs-logo.png" class="logo-img" />
    <span class="logo-text">CrimeShark</span>
  </div>

  <!-- Menu -->
  <nav class="menu">
    <a routerLink="/citizen" routerLinkActive="active">
      <span class="material-icons-outlined">dashboard</span>
      Home
    </a>

    <a routerLink="/citizen/live-map" routerLinkActive="active">
      <span class="material-icons-outlined">local_fire_department</span>
      Hotzones
    </a>

    <a routerLink="/citizen/safety-tips" routerLinkActive="active">
      <span class="material-icons-outlined">security</span>
      Safety Tips
    </a>
  </nav>

  <!-- Bottom actions -->
  <div class="auth">
    <!-- Show Login/Signup if not logged in -->
    <a *ngIf="!isLoggedIn" class="login-btn" routerLink="/citizen/auth">
      Login / Sign Up
    </a>

    <!-- Show Logout button if logged in -->
    <button *ngIf="isLoggedIn" class="login-btn logout-btn" (click)="logout()">
      <span class="material-icons-outlined">logout</span>
      Logout
    </button>

    <button class="report-btn" (click)="goToReport()">
      <span class="material-icons-outlined">add</span>
      Report a Crime
    </button>
  </div>

</div>


