:host {
  display: block;
  width: 260px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}

.navbar {
  height: 95%;
  width: 100%;
  background: linear-gradient(180deg,
      #0b1220 0%,
      #101e36 50%,
      #0b1220 100%);
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin-bottom: 40px;
  margin-left: 12px;
}

.logo-img {
  width: 46px;
  height: 46px;
}


.menu {
  display: flex;
  flex-direction: column;
  gap: 8px;

  a {
    display: flex;
    align-items: center;
    gap: 18px;
    padding: 12px 14px;
    border-radius: 10px;
    color: #cbd5e1;
    margin-bottom: 10px;
    font-size: 18px;
    text-decoration: none;
    transition: background 0.2s;

    span {
      font-size: 20px;
    }

    &.active,
    &:hover {
      background: rgba(255, 255, 255, 0.08);
      color: #fff;
    }
  }
}

.logout {
  margin-top: auto;
  padding: 12px;
  border-radius: 10px;
  background: #dc2626;
  border: none;
  font-size: 20px;
  color: white;
  cursor: pointer;

  span {
    font-size: 24px;
  }
}

.user-info {
  margin-top: auto;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 14px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.06);

  span {
    font-size: 32px;
    color: #60a5fa;
  }

  .user-name {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
  }

  .user-role {
    font-size: 14px;
    color: #9ca3af;
    margin: 0;
  }
}