<div class="navbar">

  <div class="logo">
    <img src="assets/cs-logo.png" class="logo-img" />
    <span class="logo-text">CrimeShark</span>
  </div>

  <nav class="menu">

    <a [routerLink]="homeLink" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <span class="material-icons-outlined">dashboard</span>Home
    </a>

    <a [routerLink]="reportsLink" routerLinkActive="active">
      <span class="material-icons-outlined">report</span>Reports Management
    </a>

    <a [routerLink]="casesLink" routerLinkActive="active">
      <span class="material-icons-outlined">assignment_ind</span>
      {{ isSuperAdmin ? 'Case Assignment' : 'My Cases' }}
    </a>

    <a [routerLink]="profileLink" routerLinkActive="active">
      <span class="material-icons-outlined">groups</span>
      {{ isSuperAdmin ? 'Officer Management' : 'My Profile' }}
    </a>

  </nav>

  <!-- USER INFO -->
  <div class="user-info">
    <span class="material-icons-outlined">account_circle</span>
    <div>
      <p class="user-name">{{ userName }}</p>
      <p class="user-role">{{ userRole }}</p>
    </div>
  </div>

</div>
