<div class="navbar">

  <div class="logo">
    <img src="assets/cs-logo.png" class="logo-img" />
    <span class="logo-text">CrimeShark</span>
  </div>

  <nav class="menu">
    <a routerLink="/authority" routerLinkActive="active"><span class="material-icons-outlined">dashboard</span>Home</a>
    <a routerLink="/authority/reports" routerLinkActive="active"><span
        class="material-icons-outlined">report</span>Reports Management</a>
    <a routerLink="/authority/case-assignment" routerLinkActive="active"><span
        class="material-icons-outlined">assignment_ind</span>Case Assignment</a>
  </nav>

  <button class="logout"><span class="material-icons-outlined">logout</span>Logout</button>

</div>