<app-back-button></app-back-button>

<div class="auth-page">
  <div class="auth-card">

    <div class="tabs">
      <span class="tab" [class.active]="isLogin" (click)="toggleTab(true)">
        Login
      </span>
      <span class="tab" [class.active]="!isLogin" (click)="toggleTab(false)">
        Sign Up
      </span>
    </div>

    <div class="tab-content">
      <app-login
        *ngIf="isLogin"
        [redirectFrom]="redirectFrom"
        (switchToSignup)="toggleTab(false)"
      ></app-login>
      <app-signup
        *ngIf="!isLogin"
        [redirectFrom]="redirectFrom"
        (switchToLogin)="toggleTab(true)"
      ></app-signup>
    </div>

  </div>
</div>