<form [formGroup]="form" (ngSubmit)="login()">

  <div class="form-group">
    <label for="username">Username</label>
    <input id="username" type="text" formControlName="username" placeholder="Enter your username" autocomplete="off" />
    <small class="field-error" *ngIf="f['username'].touched && f['username'].errors?.['required']">Username is required</small>
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input id="password" type="password" formControlName="password" placeholder="Enter your password" autocomplete="new-password" />
    <small class="field-error" *ngIf="f['password'].touched && f['password'].errors?.['required']">Password is required</small>
    <small class="field-error" *ngIf="f['password'].touched && f['password'].errors?.['minlength']">Minimum 6 characters required</small>
  </div>

  <p class="form-error" *ngIf="errorMessage">{{ errorMessage }}</p>

  <button type="submit" class="btn-login">Login</button>

  <p class="form-switch">
    New here?
    <a (click)="goToSignup()" tabindex="0">Create an account</a>
  </p>

</form>
