.reports-container {
    padding: 30px;
}

.header {
    font-size: 30px;
}

.subtitle {
    color: #777;
    margin-bottom: 24px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 400px));
    gap: 20px;
}

.report-card {
    background: #fff;
    padding: 20px;
    border: 3px solid rgba(0, 0, 139, 0.717);
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    transition: 0.3s;
}

.report-card:hover {
    transform: translateY(-5px);
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.status {
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 18px;
    color: white;
}

.status.pending {
    background: orange;
}

.status.resolved {
    background: green;
}

.status.rejected {
    background: red;
}